@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

$primary: #d60000;
$primary-dark: #8e0000;
$light: #eeeeee;
$dark: #111;
$dark-inv: rgba(17, 17, 17, 0.95);
$base-bc: #333;
