@use '../datas/assets' as *;

body {
      overflow: hidden;
}
.minden {
      overflow-y: scroll;
      height: 725px;
}

::-webkit-scrollbar {
      width: 10px;
}

::-webkit-scrollbar-track {
      background-color: $dark;
}

::-webkit-scrollbar-thumb {
      background-color: $primary;
      border-radius: 99px;
}