@use "../datas/assets" as *;

.basebox {
  background-color: #292929;
  align-items: center;
  text-align: center;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20%;
  border-radius: 10px;
  border: 5px solid white;
  box-shadow: 0px 0px 10px 5px $primary;
  text-shadow: 1px 1px 1px black;
}

.twigmod2box {
  background-image: url("../img/logo/twigmod2.png");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center 10%;
  padding: 25px;
  border-radius: 10px;

  button {
    margin-top: 80px;
  }
}

.builderbox {
  background-image: url("../img/logo/ampixbuilders.png");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center 10%;
  padding: 25px;
  border-radius: 10px;
  button {
    margin-top: 80px;
  }
}

.maniabox {
  background-image: url("../img/logo/ampixmania.png");
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center 10%;
  padding: 25px;
  border-radius: 10px;
  button {
    margin-top: 80px;
  }
}

.superbox {
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.verbox {
  background-color: #111;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 25px;
  padding: 20px;
  display: flex;
}

.verbox .twigmod2box,
.verbox .builderbox,
.verbox .maniabox {
  margin-left: 25px;
  background-color: #222;
}

.settbox {
  background-color: #222;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 25px;

  .element {
    display: flex;
    margin-bottom: 30px;
    margin-left: 50px;
    padding-top: 10px;
    align-items: center;
    text-align: center;
    .foldertext {
      margin-left: 40px;
      margin-right: 20px;
      max-width: 500px;
      overflow: auto;
      background-color: rgb(10, 10, 10);
      padding: 10px;
      border-radius: 10px;
    }
    button {
      position: fixed;
      background-color: #111;
      color: white;
      padding: 10px;
      border: white solid 2px;
      border-radius: 10px;
      right: 150px;
      font-weight: bolder;
      cursor: pointer;
      width: 100px;
      height: 50px;
    }
  }
}

.warning {
  background-color: #282828;
  border-radius: 5px;
  border-left: #00897b solid 15px;
  color: white !important;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.updatebox {
  margin: auto !important;
  border: white solid 2px;
  border-radius: 15px;
  background-color: #111;
  color: white;
  text-align: center;
  button {
    background-color: #4fb9af;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.5s;
  }
  button:hover {
    background-color: #025043;
    color: whitesmoke;
  }
}

.updatebox::backdrop {
  background-color: #036c5f;
  opacity: 0.25;
}
