@use "../datas/assets" as *;

.specbutton {
    background-color: #444;
    color: white;
    padding: 25px;
    font-size: larger;
    color: white;
    border: none;
    margin-top: 40px;
}

.assetbtn {
    background-color: #444;
    color: white;
    padding: 5px;
    color: white;
    border: none;
    transition: 0.5s;
    border-radius: 10px;
}

.assetbtn:hover {
    background-color: #444;
    color: $primary !important;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.warnbutton {
    //position: absolute;
    font-size: larger;
    color: $primary;
    background-color: #282828;
    padding: 3px 10px;
    font-weight: bolder;
    border: none;
    transition: 0.25s;
    margin-top: 5px;
}

.warnbutton:hover {
    cursor: pointer;
    background-color: $primary;
    color: white;
}

.donebutton {
    background: url("https://cdn.ampix.hu/updater/icons/done.png") no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: default !important;
}

.donebutton:hover {
    background-color: #222 !important;
}

.updatebutton {
    background: url("https://cdn.ampix.hu/updater/icons/download.png") no-repeat;
    background-size: 50px;
    background-position: center;
}

.refreshbutton {
    background: url("https://cdn.ampix.hu/updater/icons/refresh.png") no-repeat;
    background-size: 50px;
    background-position: center;
}

.delbutton {
    background: url("https://cdn.ampix.hu/updater/icons/delete.png") no-repeat;
    background-size: 50px;
    background-position: center;
}
.folderbutton {
    background: url("https://cdn.ampix.hu/updater/icons/folder.png") no-repeat;
    background-size: 50px;
    background-position: center;
}

.installbtn {
    background-color: $primary;
    color: white;
    padding: 2px;
    font-size: 10px;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px $primary;
    position: absolute;
    top: 52.5px;
    left: 37.5%;
    z-index: 99;
    //cursor: none;
}

.specbutton:hover {
    background-color: rgb(142, 0, 0, 0.5);
    cursor: pointer;
}

.multimcstart:hover {
    cursor: pointer;
}
