@use "../datas/assets" as *;

.szunetfent {
    margin-top: 50px;
}

.kisszunetfent {
    margin-top: 20px;
}

.checkbox {
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #cccccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background-color 0.15s, border-color 0.15s;
}

.checkbox__box::after {
    content: "\2714";
    color: white;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox__input:checked + .checkbox__box {
    background-color: #4fb9af;
    border-color: #4fb9af;
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
}
