<%- include('temps/main.ejs') %>
<main class="img1">
      <section class="banner">
            <div class="container upper left">
                  <h1 class="spectext">Egy Updater</h1>
                  <h2 class="spectext">Minden Baromságra</h2>
            </div>
      </section>
</main>
<div class="basebox">
      <h1>Miért?</h1>
      <h2>- Mert a Google Drive béna</h2>
      <h2>- Mert a Curseforge béna</h2>
      <h2>- Mert a (Minden más) béna</h2>
</div>
