<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>
      Ampix Updater v<%= version %> <% if (dev) { %> DEV MÓD <% } %>
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/style.css" />
  </head>
  <body>
    <div id="app"></div>
    <!--<div id="cursor" class="cursor hide"></div>-->
    <script type="module" src="dist/updater.es.js"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    <script>
      /*const cursor = document.getElementById("cursor");

      document.addEventListener("mousemove", (e) => {
        cursor.classList.remove("hide");
        cursor.setAttribute(
          "style",
          "top: " + (e.pageY - 20) + "px; left: " + (e.pageX - 20) + "px;"
        );
      });
      document.addEventListener("click", () => {
        cursor.classList.add("expand");

        setTimeout(() => {
          cursor.classList.remove("expand");
        }, 500);
      });*/
    </script>
  </body>
</html>
