<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Ampix Updater</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="assets/css/style.css" />
    </head>
    <body>
        <header>
            <nav class="titlebar">
                <div class="titlebar-left">
                    <h5 class="titlebar-text">Ampix Updater v<%= version %> <% if (dev) { %> DEV MÓD <% } %></h5>
                </div>
                <div class="titlebar-nav">
                    <button onclick='switchPage("Kezdőlap")' class="titlebar-nav-links" id="Kezdőlap">Kezdőlap</button>
                    <button onclick='switchPage("Beállítások")' class="titlebar-nav-links" id="Beállítások">Beállítások</button>
                    <button onclick='doModal("open","installinfobox")' class="titlebar-nav-links" id="Beállítások">Modal</button>
                </div>
                <div class="titlebar-right">
                    <button onclick="minimize()" class="titlebar-link" id="minimize">&minus;</button>
                    <button onclick="closeapp()" class="titlebar-link" id="close-app">&#10006;</button>
                </div>
            </nav>
        </header>
        <div class="minden" id="minden">
            <dialog class="updatebox" id="updatebox">
                <!-- * <md-block>{updatedes}</md-block> Ez csak illúzió -->
                <div id="updatetext">
                    <!--<h1>Cs</h1>-->
                </div>
                <button onclick='doModal("close", "updatebox")'>Bezárás</button>
            </dialog>
            <dialog class="blueDialog" id="installinfobox">
                <h1 class="error">FONTOS</h1>
                <h2>A letöltés kész van. Ha megnyomod az OK gombot megnyílik a MultiMC import ablakja, annak érdekében, hogy minden jól működjön kérlek CSAK a NEVET és CSOPORTOT változtasd meg!</h2>
                <button class="bbutton" onclick='doModal("close", "installinfobox")'>OK</button>
            </dialog>
            <dialog class="blueDialog" id="givenamebox">
                <h1 class="error">FONTOS</h1>
                <h2>Kérlek add meg PONTOSAN azt a nevet amit MultiMC-ben adtál a modpacknek/instancenek.</h2>
                <form id="givenameform">
                    <input name="instancename" id="instancename" type="text" placeholder="Instance Név" class="name" required />
                    <input type="submit" value="Megadás" class="submit" />
                </form>
            </dialog>
            <div id="warning-body" class="warning hide">
                <h1>Információ</h1>
                <h4 id="warning">Nincs</h4>
                <button onclick='hide("warning-body")' class="warnbutton">X</button>
            </div>
            <div class="superbox">
                <div id="Kezdőlap-box">
                    <div class="verbox column hide" id="verbox">
                        <div class="multimcbox">
                            <h2>Modpackek</h2>
                            <i class="fa-regular fa-play"></i>
                            <button class="multimcstart" onclick="startmmc()"><img src="https://cdn.ampix.hu/updater/icons/play.png" alt="CsakANyád" /> MultiMC Indítása</button>
                            <button class="multimcstart" onclick="importmmc()"><img src="https://cdn.ampix.hu/updater/icons/play.png" alt="CsakANyád" /> MultiMC Import DEV</button>
                        </div>
                        <div id="loadbox" class="loadbox">
                            <h2 id="loadbox-text">Betöltés...</h2>
                        </div>
                        <div id="modpacks"></div>
                    </div>
                </div>
                <div id="Beállítások-box" class="hide">
                    <h2>Beállítások</h2>
                    <div class="settbox" id="settbox"></div>
                </div>
                <div id="multi-box" class="hide multibox">
                    <div id="multi-base">
                        <h1>MultiMC Telepítési útmutató</h1>
                        <h3>A MultiMC használatával képes vagy Minecraft launcher nélkül rögtön játszani a modpackekkel.</h3>
                        <button onclick="openLink('https:\\ampix.hu/updater')">További információ</button>
                        <h2 style="margin-top: 2rem">Telepítési útvonal:</h2>
                        <h3 style="background-color: #232323" id="multi-folder">Betöltés</h3>
                        <button onclick="setfolder('multimc')" style="margin-top: 0.5rem">Megváltoztatás</button>
                        <div id="multimc_alreadyhave">
                            <label class="checkbox" for="multimcModeId" style="margin-top: 1rem">
                                <input type="checkbox" name="multimcModeName" id="multimcModeId" class="checkbox__input" />
                                <div class="checkbox__box"></div>
                                <h3>Ebben a mappában már van MultiMC</h3>
                            </label>
                            <h4>Ezt bepipálva a rendszer nem fog a Telepítési útvonalra MultiMC-t telepíteni, csak beállítja azt a MultiMC mappájának. Vagyis ebben az esetben a már létező MultiMC elérési útját kell megadni telepítési útvonalként.</h4>
                        </div>
                        <div id="multimc_based">
                            <label class="checkbox" for="multimcBasedId" style="margin-top: 1rem">
                                <input type="checkbox" name="multimcBasedName" id="multimcBasedId" class="checkbox__input" />
                                <div class="checkbox__box"></div>
                                <h3>Nekem már van MultiMC alapú launcherem (Pl: PrismLauncher)</h3>
                            </label>
                            <h4>Ebben az esetben kérlek válaszd ki milyen launchered van és a telepítési útvonal a launcher mappájára mutasson. A másikat ne pipáld be!</h4>
                        </div>
                        <button onclick="installmmc()" style="margin-top: 0.5rem; font-size: 1.5rem">MultiMC Telepítése</button>
                    </div>
                    <div id="multi-install" class="hide">
                        <h1>MultiMC Telepítése</h1>
                        <h2 id="multi-status"></h2>
                        <div class="progress" id="multi-progress">
                            <div class="progress_fill" id="multi-progfill"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div id="cursor" class="cursor hide"></div>-->
        <script src="main.js"></script>
        <script type="module" src="https://md-block.verou.me/md-block.js"></script>
    </body>
</html>
