<%- include('templates/main.ejs') %>
<div class="minden" id="minden">
  <div class="superbox">
    <h2>Beállítások</h2>
    <div class="settbox">
      <div class="element">
        <h3>Ampix Builders Mappája:</h3>
        <h3 id="buildersdir" class="foldertext"></h3>
        <button onclick='changeDir("ampixbuilders")'>Módosítás</button>
      </div>
      <div class="element">
        <h3>Twigmod 2 Mappája:</h3>
        <h3 id="twigmod2dir" class="foldertext"></h3>
        <button onclick='changeDir("twigmod2")'>Módosítás</button>
      </div>
    </div>
    <script>
      document.getElementById("Beállítások").classList.add("active");
    </script>
    <script src="assets/scripts/settings.js"></script>
  </div>
</div>
