<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="assets/css/splash.css">
    </head>
    <body>
        <h2>Ampix Launcher</h2>
        <div class="loader"></div>
    </body>
</html>