<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="splash.css">
    </head>
    <body>
        <h2>Ampix Launcher</h2>
        <h4 id="updateinfo"></h4>
        <div class="progress hide" id="progressparent">
            <div class="progress_fill" id="progress"></div>
        </div>
        <div class="loader"></div>
        <script src="assets/scripts/splash.js"></script>
    </body>
</html>