<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="assets/css/splash.css" />
        <title>Ampix Updater</title>
    </head>
    <body>
        <h2>Ampix Updater</h2>
        <div class="loader"></div>
    </body>
</html>
