<%- include('templates/main.ejs') %>
<div class="minden">
  <main class="img1">
    <section class="banner">
          <div class="container upper left">
                <h2 class="spectext">Updater és a Modpackek Frissitése</h2>
                <h2 class="spectext">Jelenlegi Updater Verzió: <%= version %>.</h2>
                <h2 class="kisszunetfent warning">A MODPACKEK FRISSITÉSEINEK NINCS KÖZE Az UPDATERHEZ VAGY ANNAK A FRISSITÉSEIHEZ.</h2>
                <h2 class="spectext szunetfent">További információ lentebb.</h2>
          </div>
    </section>
</main>
<div class="basebox">
  <h1>Updater Frissitései:</h1>
  <h3>- Automatikusan telepítésre kerülnek indításkor</h3>
  <h3>- Bugok, hibák kijavítása</h3>
  <h3>- Több modpack</h3>
  <h3>- Modpack letöltési problémák javítása</h3>
  <h3>- Szebb dizájn</h3>
</div>
<div class="basebox">
  <h1>Modpackek Frissitései:</h1>
  <h3>- A mappa kiválasztása után lehet látni, hogy van-e frissités</h3>
  <h3>- Több mod</h3>
  <h3>- Hibák kijavítása</h3>
  </div>
</div>
  