<%- include('templates/main.ejs') %>
<div class="minden" id="minden">
  <main class="img1">
    <section class="banner">
      <div class="container upper left">
        <h1 class="spectext">Modpackek</h1>
        <h2 class="spectext warning">
          Használatt előtt ajánlott átnézni a Frissitések illetve az Információk
          menüpontot!
        </h2>
        <h2 class="spectext">Modpackek lent!</h2>
      </div>
    </section>
  </main>
  <div class="basebox builderbox" id="ampixbuilders">
    <h1 class="spectext">Ampix Builders</h1>
    <h2>Forge Verzió: 1.18.2, 40.1.60</h2>
    <h2>Kiválasztott mappa:</h2>
    <h2 id="builders">...</h2>
    <h2 id="versionb" class="hide"></h2>
    <h2 id="newversionb" class="hide"></h2>
    <h2 id="statusb" class="hide"></h2>
    <button onclick='openDir("builders")' class="specbutton" id="selecdirb">
      Mappa kiválasztása
    </button>
    <button
      onclick='updatepack("builders")'
      class="specbutton hide"
      id="downloadpackb"
    >
      Modpack letöltése
    </button>
    <button
      onclick='updatepack("builders")'
      class="specbutton hide"
      id="updatepackb"
    >
      Modpack frissitése
    </button>
    <button onclick='delpack("builders")' class="specbutton hide" id="delpackb">
      Modpack törlése
    </button>
    <button
      onclick='otherDir("button","builders")'
      class="specbutton hide"
      id="selecodirb"
    >
      Másik Mappa választása
    </button>
  </div>
  <div class="basebox twigmod2box" id="twigmod22">
    <h1 class="spectext">Twigmod 2</h1>
    <h2>Forge Verzió: 1.12.2, 14.23.5.2860</h2>
    <h2>Kiválasztott mappa:</h2>
    <h2 id="twigmod2">...</h2>
    <h2 id="versiont2" class="hide"></h2>
    <h2 id="newversiont2" class="hide"></h2>
    <h2 id="statust2" class="hide"></h2>
    <button onclick='openDir("twigmod2")' class="specbutton" id="selecdirt2">
      Mappa kiválasztása
    </button>
    <button
      onclick='updatepack("twigmod2")'
      class="specbutton hide"
      id="downloadpackt2"
    >
      Modpack letöltése
    </button>
    <button
      onclick='updatepack("twigmod2")'
      class="specbutton hide"
      id="updatepackt2"
    >
      Modpack frissitése
    </button>
    <button
      onclick='delpack("twigmod2")'
      class="specbutton hide"
      id="delpackt2"
    >
      Modpack törlése
    </button>
    <button
      onclick='otherDir("button","twigmod2")'
      class="specbutton hide"
      id="selecodirt2"
    >
      Másik Mappa választása
    </button>
  </div>
  <script src="assets/scripts/versions.js"></script>
</div>
<script>
  document.getElementById("Modpackek").classList.add("active");
</script>
